<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso NodeJS</title>
</head>
<body>
    <h1>Hola desde HBS {{name}}</h1>

    {{#if message}}
        <p>{{message}}</p>
    {{/if}}
    
    <form method="post" action="/crear" >
        <h2>Agregar un alumno</h2>
        <label for="name">Alumno: </label>
        <input type="text" name="name" id="name">
        <button type="submit">Agregar</button>
    </form>

    <form method="post" action="/search" >
      <h2>Buscar un alumno</h2>
        <label for="name">Alumno: </label>
        <input type="text" name="name" id="name">
        <button type="submit">Buscar</button>
    </form>

    <ul>
        {{#each alumnos }}
            <li>{{this}}</li>
        {{/each}}
    </ul>
</body>
</html>